@font-face {
    font-family: 'Trend Sans One';
    src: url('../../img/trendsansone.eot');
    src: url('../../img/trendsansone.eot?#iefix') format('embedded-opentype'),
         url('../../img/trendsansone.woff') format('woff'),
         url('../../img/trendsansone.ttf') format('truetype'),
         url('../../img/trendsansone.svg#trend_sansone') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import '../../bower_components/foundation/scss/normalize.scss';

@import 'settings';

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.

@import "../../bower_components/foundation/scss/foundation/components/grid";
// @import "../../bower_components/foundation/scss/foundation/components/accordion";
// @import "../../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "../../bower_components/foundation/scss/foundation/components/block-grid";
// @import "../../bower_components/foundation/scss/foundation/components/breadcrumbs";
// @import "../../bower_components/foundation/scss/foundation/components/button-groups";
@import "../../bower_components/foundation/scss/foundation/components/buttons";
@import "../../bower_components/foundation/scss/foundation/components/clearing";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/flex-video";
@import "../../bower_components/foundation/scss/foundation/components/forms";
@import "../../bower_components/foundation/scss/foundation/components/inline-lists";
// @import "../../bower_components/foundation/scss/foundation/components/joyride";
// @import "../../bower_components/foundation/scss/foundation/components/keystrokes";
// @import "../../bower_components/foundation/scss/foundation/components/labels";
// @import "../../bower_components/foundation/scss/foundation/components/magellan";
// @import "../../bower_components/foundation/scss/foundation/components/orbit";
// @import "../../bower_components/foundation/scss/foundation/components/pagination";
// @import "../../bower_components/foundation/scss/foundation/components/panels";
// @import "../../bower_components/foundation/scss/foundation/components/pricing-tables";
// @import "../../bower_components/foundation/scss/foundation/components/progress-bars";
// @import "../../bower_components/foundation/scss/foundation/components/range-slider";
// @import "../../bower_components/foundation/scss/foundation/components/reveal";
// @import "../../bower_components/foundation/scss/foundation/components/side-nav";
// @import "../../bower_components/foundation/scss/foundation/components/split-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/sub-nav";
// @import "../../bower_components/foundation/scss/foundation/components/switch";
@import "../../bower_components/foundation/scss/foundation/components/tables";
// @import "../../bower_components/foundation/scss/foundation/components/tabs";
// @import "../../bower_components/foundation/scss/foundation/components/thumbs";
// @import "../../bower_components/foundation/scss/foundation/components/tooltips";
// @import "../../bower_components/foundation/scss/foundation/components/top-bar";
@import "../../bower_components/foundation/scss/foundation/components/type";
// @import "../../bower_components/foundation/scss/foundation/components/offcanvas";
@import "../../bower_components/foundation/scss/foundation/components/visibility";

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: rem-calc(-3);
}
body {
  background: url("../../img/bg.jpg");
  background-size: rem-calc(480);
  background-repeat: repeat-x;
  background-position: center -2px;
}

h1 {
  span {
    font-size: 25px;
    vertical-align: middle;
  }
  margin-bottom: 0;
}
table {
  width: 100%;
  border: 0;
  thead {
    background: white;
    border-bottom :1px solid #ddd;
    tr {
      th {
        padding: $rem-base/2 0;
      }
    }
  }
  tbody {
    tr {
      &:nth-of-type(even) {
        background: white;
      }
      border-bottom: 1px solid #eee;
      td {
        padding: $rem-base/2 0; 
      }
    }
  }

}
a {
  //font-weight: bold;
}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #eee;
}
#map img {
    max-width: none;
}
#sticky {
  padding: $rem-base 0;
  display: block;
  width: 100%;
  background: white;
  z-index: 9999;
}
#content {
  display: block;
}
.rsvp-button {
  position: absolute;
  top: -143px;
  right: 2px;
  width: 168px;
  height: 100px;
  background: url("../../img/rsvp.svg");
  background-size: 160px 100px;
  background-repeat: no-repeat;
  background-position: left top;
}
.main-content {
  margin-top: 160px;
  margin-bottom: 270px;
}
.accommodation-list {
  li {
    a {
      display: block;
      font-size: rem-calc($rem-base);
    }
    color: #666;
    font-size: rem-calc($rem-base*0.85);
    margin-bottom: $rem-base/2;
  }
}